{% extends 'base.html' %} {% block content %} {% load static %}
<body>
  <!-- about section -->
  <!-- slider section -->

  <section class="about_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>Biz haqimizda</h2>
            </div>
            <p>
              Men kopirayter, marketolog va SEO optimallashtiruvchisiman. Men
              veb-resurs yoki kampaniya uchun reklama matnlarining qiymatini
              kilogrammda emas, balki murakkablik va samaradorlik darajasida
              baholayman. Men mahsulot/xizmatning oxirgi iste'molchilari uchun
              yozaman. Kopirayterning asosiy xatosi shundaki, matn "mijoz uchun"
              yozilgan. Ya'ni, "xo'jayinga yoqadigan" tarzda. Men taxminlarga
              emas, raqamlar va statistikaga ishonaman. Bilaman, matnlarni
              sotishga qo'yilgan 100% investitsiyalar faqat yoqtirishlar va
              sharhlar emas, balki to'lashi va pul olib kelishi kerak.
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-box">
            <img src="{% static 'images/about-img.png' %}" alt="" />
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end about section -->
  <div class="body_bg layout_padding">
    <!-- service section -->

    <section class="service_section">
      <div class="container">
        <div class="heading_container">
          <h2>Sizning xizmatingizda!</h2>
        </div>
      </div>
      <div class="container">
        <div class="row">
          {% for service in services %}
          <div class="col-md-6">
            <div class="box">
              <div class="img-box">
                <img src="{% static 'images/s-1.png' %}" alt="" />
              </div>
              <h4>{{service.title}}</h4>
              <p>{{service.body}}</p>
            </div>
          </div>
          {%endfor%}
        </div>
      </div>
    </section>

    <!-- end service section -->

    <!-- quote section -->

    <!-- end quote section -->

    <!-- contact section -->

    <!-- end contact section -->

    <!-- client section -->

    <section class="client_section layout_padding-top">
      <div class="d-flex justify-content-center">
        <div class="heading_container">
          <h2>Izohlar</h2>
        </div>
      </div>
      <div class="container layout_padding2">
        <div
          id="carouselExample2Indicators"
          class="carousel slide"
          data-ride="carousel"
        >
          <ol class="carousel-indicators">
            <li
              data-target="#carouselExample2Indicators"
              data-slide-to="0"
              class="active"
            ></li>
            <li
              data-target="#carouselExample2Indicators"
              data-slide-to="1"
            ></li>
            <li
              data-target="#carouselExample2Indicators"
              data-slide-to="2"
            ></li>
          </ol>
          <div class="carousel-inner">
            {% for comment in comments %}
            <div
              class="carousel-item {% if forloop.first %} active {% endif %}"
            >
              <div class="client_container">
                <div class="client-id">
                  <div class="img-box">
                    <img src="{{comment.img.url}}" alt="" />
                  </div>
                  <div class="client_name">
                    <div>
                      <h3>{{comment.name}}</h3>
                    </div>
                  </div>
                </div>
                <div class="client_detail">
                  <div class="client_text">
                    <blockquote>
                      <p>{{comment.comment}}</p>
                    </blockquote>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </section>

    <!-- end client section -->
  </div>
  <!-- info section -->

  <section class="info_section layout_padding">
    <div class="footer_contact">
      <div class="heading_container">
        <h2>Biz bilan bog'lanish</h2>
      </div>
      <div class="box">
        <a href="" class="img-box">
          <img src="{% static 'images/location.png' %}" alt="" class="img-1" />
          <img
            src="{% static 'images/location-o.png' %}"
            alt=""
            class="img-2"
          />
        </a>
        <a href="" class="img-box">
          <img src="{% static 'images/call.png' %}" alt="" class="img-1" />
          <img src="{% static 'images/call-o.png' %}" alt="" class="img-2" />
        </a>
        <a href="" class="img-box">
          <img src="{% static 'images/envelope.png' %}" alt="" class="img-1" />
          <img
            src="{% static 'images/envelope-o.png' %}"
            alt=""
            class="img-2"
          />
        </a>
      </div>
    </div>
  </section>

  <!-- end info section -->

  <!-- footer section -->
  <section class="container-fluid footer_section"></section>
  <!-- footer section -->

  <script
    type="text/javascript"
    src="{% static 'js/jquery-3.4.1.min.js' %}"
  ></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
</body>

{% endblock %}
