{% extends 'base.html' %} {% block content %} {% load static %}

<body class="sub_page">
  <div class="body_bg layout_padding">
    <!-- service section -->

    <section class="service_section">
      <div class="container">
        <div class="heading_container">
          <h2>Sizning Xizmatingizda</h2>
        </div>
      </div>
      <div class="container">
        <div class="row">
          {% for service in services %}
          <div class="col-md-6">
            <div class="box">
              <div class="img-box">
                <img src="{% static 'images/s-1.png' %}" alt="" />
              </div>
              <h4>{{service.title}}</h4>
              <p>{{service.body}}</p>
            </div>
          </div>
          {%endfor%}
        </div>
      </div>
    </section>

    <!-- end service section -->
  </div>
  <!-- info section -->

  <section class="info_section layout_padding">
    <div class="footer_contact">
      <div class="heading_container">
        <h2>Contact Us</h2>
      </div>
      <div class="box">
        <a href="" class="img-box">
          <img src="{% static 'images/location.png' %}" alt="" class="img-1" />
          <img
            src="{% static 'images/location-o.png' %}"
            alt=""
            class="img-2"
          />
        </a>
        <a href="" class="img-box">
          <img src="{% static 'images/call.png' %}" alt="" class="img-1" />
          <img src="{% static 'images/call-o.png' %}" alt="" class="img-2" />
        </a>
        <a href="" class="img-box">
          <img src="{% static 'images/envelope.png' %}" alt="" class="img-1" />
          <img
            src="{% static 'images/envelope-o.png' %}"
            alt=""
            class="img-2"
          />
        </a>
      </div>
    </div>
  </section>

  <!-- end info section -->

  <!-- footer section -->
  <section class="container-fluid footer_section"></section>
  <!-- footer section -->

  <script
    type="text/javascript"
    src="{% static 'js/jquery-3.4.1.min.js' %}"
  ></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
</body>

{% endblock %}
